.container {
    width: 1170px;
}
body {
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #222326;
    background-color: #f8f8f8;
}
body {
    font-family: Circular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #222326;
    background-color: #f8f8f8;
}